:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f8fafc;
}

body {
  margin: 0;
  display: block; /* Fixes the Vite centering issue */
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%;
}